<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_signal_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_signal_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdminSinyal">

        <activity
            android:name=".ui.DashboardActivity"
            android:exported="false" />

        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>



